h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  margin-top: 40px;
  font-size: 40px;
}

body {
  background-color: transparent;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  margin: 0 20px 20px 20px;
  font-size: 25px;
}

h5 {
  text-align: center;
  font-family: "Lobster", cursive;
}
h5 {
  text-align: center;
  font-family: "Lobster", cursive;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-all {
  margin: 30px auto;
  max-width: 500px;
}

.weather {
  border: 3px groove;
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  background: honeydew;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.bild {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.hauptBild {
  width: 40%;
  margin: 20px 0px 50px 0px;
}

.main {
  font-family: "Lobster", cursive;
}
.unten {
  list-style-type: none;
  font-family: "Lobster", cursive;
  text-align: center;
  margin: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.temperatur {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 18px;
}

.days {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  text-align: center;
}

.search {
  width: 100%;
  padding: 15px 20px;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

#temperature {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-left: 0;
  padding-left: 0;
}
.units {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 20px;
}
#fahrenheit-link {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}
.main .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.main .active :hover {
  text-decoration: none;
}
.weather-max {
  font-size: 15px;
}

.weather-min {
  font-size: 15px;
  opacity: 0.6;
}
