h1 {
  text-align: center;
  font-family: "Lobster", cursive;
  margin-top: 40px;
}

body {
  background-color: transparent;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-family: "Lobster", cursive;
  margin: 0 20px 20px 20px;
}

h5 {
  text-align: center;
  font-family: "Lobster", cursive;
}
h5 {
  text-align: center;
  font-family: "Lobster", cursive;
}
li::first-letter {
  text-transform: capitalize;
}
.weather {
  border: 3px groove;
  margin: 20px auto;
  padding: 20px;
  max-width: 60%;
  background-image: url("https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.bild {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.hauptBild {
  width: 44%;
  margin: 30px 30px 50px 30px;
}

.main {
  font-family: "Lobster", cursive;
}
.unten {
  list-style-type: none;
  font-family: "Lobster", cursive;
  text-align: center;
  margin: 40px;
  padding: 20px;
}

.temperatur {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 18px;
}

.days {
  background-color: transparent;
  border: none;
  margin-top: 20px;
  text-align: center;
}

.search {
  width: 100%;
  padding: 15px 20px;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

#temperature {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
}
.units {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 20px;
}
#fahrenheit-link {
  text-decoration: none;
}
#celsius-link {
  text-decoration: none;
}
.main .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.main .active :hover {
  text-decoration: none;
}
.weather-max {
  font-size: 15px;
}

.weather-min {
  font-size: 15px;
  opacity: 0.6;
}
